$breakpoints-max: (
    xs: 575px,
    s: 767px,
    m: 991px,
    l: 1199px,
    xl: 1399px
);

$breakpoints-min: (
    xs: 0px,
    s: 576px,
    m: 768px,
    l: 992px,
    xl: 1200px,
    xxl: 1400px
);